.center {
  margin: auto;
  width: 22%;
  border: 3px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px;
}

body {
  background-color: rgb(179, 173, 173);
}

h2 {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 1%;
}

input {
  background-color: lightgray;
  border-style: groove;
  border-radius: 5px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.result {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
h6 {
  margin-right: 2px;
}

li {
  font-weight: 600;
}

#errorOccured {
  color: rgba(199, 23, 23, 0.63);
  font-weight: 600;
}

@media only screen and (max-width: 950px) {
  .center {
    width: auto;
  }
}

@media only screen and (min-width: 950px) {
  .center {
    width: 27%;
  }
}
